table {
    border: 3px solid;
    background-color: green;
    color: blanchedalmond;
    /* betűszín */
    font-family: 'Courier New', Courier, monospace;
    /* betűstílus  */
    font-size: 21px;
    /* betűméret */
}

/* td {background-color: rgb(49, 70, 19);} */

#keso_indulo_vonat {
    background-color: rgb(206, 24, 206);
}

.elso_oszlop{
    background-color:darkolivegreen;
}

table, td, th{

    border: 2px black;
    border-collapse: collapse;
    border-style: solid;
}